$timelineWeight: 5px;

.timeline {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;

  width: 100%;

  border-bottom: $timelineWeight solid #eee;

  .timeline-item {
    flex: 1;
    position: relative;
    top: 10px;
  }

  .phase {
    position: absolute;
    width: 100%;
    height: $timelineWeight;
    bottom: 5px;

    &.red { background: red; }
    &.orange { background: orange; }
  }

  .milestone {
    text-align: left;

    .point {
      width: 15px;
      height: 15px;
      margin-top: 5px;
      margin-left: 5px;  
      
      transform: rotate(-45deg);  
      border: 2px solid #ccc;

      background: #fff;
    }

    .name {
      color: $primaryGrey;
      font-size: 8pt;
    }

    .date {
      color: $secondaryGrey;
      font-size: 7pt;
    }
  }

}