<h1>Timeline</h1>

<div class="timeline">
{{#each model as |milestone|}}
  <div class="timeline-item">
    <div class="milestone">
      <div class="name">{{milestone.name}}</div>
      <div class="date">{{milestone.startDate}}</div>
      <div class="point"></div>
    </div>
  </div>
{{/each}}
</div>