<h1>Timeline</h1>

{{ tasks-list timeline=model }}

{{#timeline-handles timeline=model
    filter=(action 'filterByDateRange')
    as |results| }}

    <h2>Short View</h2>

    {{ tasks-list timeline=results }}
{{/timeline-handles}}